#file-drop-zone {
    border: dashed 2px #888888;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    .file-icon {
        margin-top: 8px;
        font-size: 30px;
        transition: font-size 0.5s;
    }
    &.file-hover {
        .file-icon {
            font-size: 40px;
        }
    }
}

#add-brew-wrapper {
    .button-wrapper {
        width: 66%;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }
}
