<div id="recipe-sections">
   <div class="recipe-section">
      <h3>Information
         <span class="fa fa-trash-o delete-icon" v-on:click="deleteRecipe" v-if="!editable && $store.state.isLoggedIn"></span>
      </h3>
      <div class="row">

         <div class="input-item" v-if="editable">
            <label for="name" class="input-item-title">Namn:</label>
            <input type="text" v-model="getRecipe.name">
         </div>
         <div class="input-item" v-if="!editable">
            <span class="input-item-title">Namn:</span>
            <span>{{ getRecipe.name }}</span>
         </div>

         <div class="input-item">
            <span class="input-item-title">Typ:</span>
            <span>{{ getRecipe.type }}</span>
         </div>
         <div class="input-item" v-if="getRecipe.style">
            <span class="input-item-title">Stil:</span>
            <span>{{getRecipe.style.name}}</span>
         </div>
      </div>
      <div class="row">
         <div class="input-item">
            <span class="input-item-title">Batchstorlek:</span>
            <span class="short-field">{{ getRoundedValue(getRecipe.batchSize) }} L</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">Kokmängd:</span>
            <span class="short-field">{{getRoundedValue(getRecipe.boilSize)}} L</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">Koktid:</span>
            <span class="short-field">{{formatMinutes(getRoundedValue(getRecipe.boilTime))}}</span>
         </div>
      </div>
      <h4>Uppskattade värden</h4>
      <div class="row row-4">
         <div class="input-item">
            <span class="input-item-title">OG:</span>
            <span class="short-field">{{ getRecipe.estOG }}</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">FG:</span>
            <span class="short-field">{{ getRecipe.estFG }}</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">ABV:</span>
            <span class="short-field">{{ getRecipe.estAbv }}%</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">IBU:</span>
            <span class="short-field">{{ getRecipe.ibu }}</span>
         </div>
      </div>
   </div>

   <div class="recipe-section">
      <h3>Malt</h3>
      <table class="table-3-cols">
         <tr>
            <th>Malt</th>
            <th>Mängd(kg)</th>
            <th>%</th>
         </tr>
         <tr v-for="fermentable in getRecipe.fermentables">
            <td>{{ fermentable.name }}</td>
            <td>{{ getRoundedValue(fermentable.amount) }} kg</td>
            <td>{{ getRoundedValue(getPercent(fermentable, getRecipe.fermentables)) }}%</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Humle</h3>
      <table class="table-4-cols">
         <tr>
            <th>Humle</th>
            <th>Mängd</th>
            <th>Tid</th>
            <th>Användning</th>
         </tr>
         <tr v-for="hop in getRecipe.hops">
            <td>{{ hop.name }}</td>
            <td>{{ formatWeight(getRoundedValue(hop.amount)) }}</td>
            <td>{{ formatMinutes(hop.time) }}</td>
            <td>{{ hop.use }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Jäst</h3>
      <table class="table-3-cols">
         <tr>
            <th>Jäst</th>
            <th>Typ</th>
            <th>Form</th>
         </tr>
         <tr v-for="yeast in getRecipe.yeasts">
            <td>{{ yeast.name }}</td>
            <td>{{ yeast.type }}</td>
            <td>{{ yeast.form }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section" v-if="getRecipe.miscs">
      <h3>Övrigt</h3>
      <table class="table-3-cols">
         <tr>
            <th>Mängd</th>
            <th>Enhet</th>
            <th>Namn</th>
         </tr>
         <tr v-for="misc in getRecipe.miscs">
            <td>{{ misc.amount }}</td>
            <td>{{ misc.amountIsWeight === 'true' ? 'kg' : 'L' }}</td>
            <td>{{ misc.name }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Mäskning</h3>
      <table class="table-3-cols">
         <tr>
            <th>Namn</th>
            <th>Temperatur (°C)</th>
            <th>Tid</th>
         </tr>
         <tr v-for="step in getRecipe.mashSteps">
            <td>{{ step.name }}</td>
            <td>{{ getRoundedValue(step.stepTemp)}}</td>
            <td>{{ getRoundedValue(formatMinutes(step.stepTime)) }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Jäsning</h3>
      <table class="table-3-cols">
         <tr>
            <th>Typ</th>
            <th>Temperatur (°C)</th>
            <th>Tid (dagar)</th>
         </tr>
         <tr v-for="stage in getRecipe.fermentationStages">
            <td>{{ stage.name }}</td>
            <td>{{ getRoundedValue(stage.temp) }}</td>
            <td>{{ getRoundedValue(stage.age) }}</td>
         </tr>
      </table>
   </div>

</div>