<div id="recipe-sections">
   <div class="recipe-section">
      <h3>Information</h3>
      <div class="row">

         <div class="input-item" v-if="editable">
            <label for="name" class="input-item-title">Namn:</label>
            <input type="text" v-model="recipe.name">
         </div>
         <div class="input-item" v-if="!editable">
            <span class="input-item-title">Namn:</span>
            <span>{{ recipe.name }}</span>
         </div>

         <div class="input-item">
            <span class="input-item-title">Typ:</span>
            <span>{{ recipe.type }}</span>
         </div>
         <div class="input-item" v-if="recipe.style">
            <span class="input-item-title">Stil:</span>
            <span>{{recipe.style.name}}</span>
         </div>
      </div>
      <div class="row">
         <div class="input-item">
            <span class="input-item-title">Batchstorlek:</span>
            <span class="short-field">{{ recipe.batchSize }} L</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">Kokmängd:</span>
            <span class="short-field">{{recipe.boilSize}} L</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">Koktid:</span>
            <span class="short-field">{{formatMinutes(recipe.boilTime)}}</span>
         </div>
      </div>
      <h4>Uppskattade värden</h4>
      <div class="row row-4">
         <div class="input-item">
            <span class="input-item-title">OG:</span>
            <span class="short-field">{{ recipe.estOG }}</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">FG:</span>
            <span class="short-field">{{ recipe.estFG }}</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">ABV:</span>
            <span class="short-field">{{ recipe.estAbv }}%</span>
         </div>
         <div class="input-item">
            <span class="input-item-title">IBU:</span>
            <span class="short-field">{{ recipe.ibu }}</span>
         </div>
      </div>
   </div>

   <div class="recipe-section">
      <h3>Malt</h3>
      <table>
         <tr>
            <th>Malt</th>
            <th>Mängd(kg)</th>
            <th>%</th>
         </tr>
         <tr v-for="fermentable in recipe.fermentables">
            <td>{{ fermentable.name }}</td>
            <td>{{ getRoundedValue(fermentable.amount) }} kg</td>
            <td>{{ getRoundedValue(getPercent(fermentable, recipe.fermentables)) }}%</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Humle</h3>
      <table>
         <tr>
            <th>Humle</th>
            <th>Mängd</th>
            <th>Tid</th>
            <th>Användning</th>
         </tr>
         <tr v-for="hop in recipe.hops">
            <td>{{ hop.name }}</td>
            <td>{{ getRoundedValue(hop.amount) }} kg</td>
            <td>{{ formatMinutes(hop.time) }}</td>
            <td>{{ hop.use }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Jäst</h3>
      <table>
         <tr>
            <th>Jäst</th>
            <th>Typ</th>
            <th>Form</th>
         </tr>
         <tr v-for="yeast in recipe.yeasts">
            <td>{{ yeast.name }}</td>
            <td>{{ yeast.type }}</td>
            <td>{{ yeast.form }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section" v-if="recipe.miscs">
      <h3>Övrigt</h3>
      <table>
         <tr>
            <th>Mängd</th>
            <th>Enhet</th>
            <th>Namn</th>
         </tr>
         <tr v-for="misc in recipe.miscs">
            <td>{{ misc.amount }}</td>
            <td>{{ misc.amountIsWeight === 'true' ? 'kg' : 'L' }}</td>
            <td>{{ misc.name }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Mäskning</h3>
      <table>
         <tr>
            <th>Namn</th>
            <th>Temperatur (°C)</th>
            <th>Tid</th>
         </tr>
         <tr v-for="step in recipe.mashSteps">
            <td>{{ step.name }}</td>
            <td>{{ step.stepTemp}}</td>
            <td>{{ formatMinutes(step.stepTime) }}</td>
         </tr>
      </table>
   </div>

   <div class="recipe-section">
      <h3>Jäsning</h3>
      <table>
         <tr>
            <th>Typ</th>
            <th>Temperatur (°C)</th>
            <th>Tid (dagar)</th>
         </tr>
         <tr v-for="n in recipe.fermentationStages">
            <td>{{ fermentationStepNames[n-1] }}</td>
            <td>{{ recipe.primaryTemp }}</td>
            <td>{{ recipe.primaryAge }}</td>
         </tr>
      </table>
   </div>

</div>