<div id="batch">
   <div>
      <h4>Uppmätta värden</h4>
      <div class="measured-values-inputs">
         <div>
            <label class="input-item-title">Mash (pH)</label>
            <input type="text" placeholder="5.x" v-model="measured_values.mash_ph" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">Kokvolym (L)</label>
            <input type="text" placeholder="30" v-model="measured_values.boil_vol" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">Preboil Gravity (SG)</label>
            <input type="text" placeholder="1.xxx" v-model="measured_values.preboil_sg" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">Postboilvolym (L)</label>
            <input type="text" placeholder="22" v-model="measured_values.postboil_vol" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">OG (SG)</label>
            <input type="text" placeholder="1.xxx" v-model="measured_values.og" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">Jästankvolym (L)</label>
            <input type="text" placeholder="20" v-model="measured_values.fermentation_vol" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">FG (SG)</label>
            <input type="text" placeholder="1.xxx" v-model="measured_values.fg" :disabled="!$store.state.isLoggedIn">
         </div>
         <div>
            <label class="input-item-title">Est. ABV</label>
            <input type="text" :value="calculatedABV" disabled>
         </div>
      </div>
      <button @click="saveMeasuredValues" v-if="$store.state.isLoggedIn">Spara</button>
   </div>
   <div>
      <h4>Temperatur och SG</h4>
      <div v-if="fermentationStarted" class="right-content">
         <a @click="stopFermentation" v-if="$store.state.isLoggedIn">Stoppa registrering</a>
      </div>
      <p class="center-text" v-if="!fermentationStarted && !fermentationEnded">Ingen data har börjat registreras.
         <a @click="startFermentation" v-if="$store.state.isLoggedIn">Starta registreringen</a>
      </p>
      <temp-chart :temps="temps" v-if="temps"></temp-chart>
   </div>
   <div>
      <h4>Anteckningar</h4>
      <div>
         <textarea v-model="notes" :disabled="!$store.state.isLoggedIn"></textarea>
         <button @click="saveBatchNotes" v-if="$store.state.isLoggedIn">Spara</button>
      </div>
   </div>
</div>