div#brews-wrapper {
   display: flex;
   flex-flow: row wrap;
}

a.brew-item {
   border: 1px solid #c5c5c5;
   flex: 0 1 30%;
   margin-bottom: 2%;
   margin-right: 2%;
   text-decoration: none;
   color: #000;
   box-shadow: 2px 2px 2px 0px #d1d1d1;

   h3, p {
      margin: 0;
   }
   .content-wrapper {
      display: flex;
   }
   .beer-color {
      width: 10px;
   }
   .recipe-info {
      padding: 8px;
   }
   .recipe-data {
      font-size: 0.9em;
   }
}